:root {
  --primary-color: #7b0000;
  --font-color: #1b0909;
  --nav-grey: #3b3333;
}

@font-face {
  font-family: "AlegreyaSans";
  src: url(./fonts/AlegreyaSans-Regular.ttf) format("truetype");
  font-style: normal;
}

nav {
  border-bottom: 0.15rem solid var(--primary-color);
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-family: "AlegreyaSans";
  font-size: 2rem;
}

li a {
  color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  padding-left: 4rem;
  padding-top: 1rem;
  text-decoration: none;
}

a:active {
  color: var(--nav-grey);
}
a:hover {
  color: var(--nav-grey);
}

@media only screen and (max-width: 480px) {
  nav li {
    font-size: 1.6rem;
  }
}
